.bot i{
  font-size: x-large;
  background-color: $col-or;
  color: $col-fl;
}
.bot {
  background-color: $col-or;
  margin: 30px auto 0;
  padding: 0 2em;
  cursor: pointer;
  max-width: 14em;
  .btn{
    cursor: pointer;
    font-size: 1.06em;
    line-height: 3.5em;
    font-family: $ff-o;
    color:$col-fl;
    background-color: $col-or;
    border: none;
    font-weight: 600;
  }
}
button,
button:active,
button:focus{
  outline:none;
}
.modal-open{
  background-color: $col-fd;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
