@mixin flex($dir, $jc, $ai, $fw) {
  display: flex;
  flex-flow: $dir $fw;
  justify-content: $jc;
  align-items: $ai;
}
@mixin space{
  width: 100%;
  height: 100%;
}
@mixin mm-space{
  min-width: 800px;
  max-width: 1140px;
}

@mixin instaColor($color) {
  color: $color;

  &:hover {
    color: $color;
  }
}