.show-modal {
  .modal {
    display: block;
  }
  .modal-background {
    display: block;
    }
 }
  .modal-background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 80000;
    overflow: hidden!important;
    display: none;
  }
  .modal{
    position: fixed;
    top: 0;
    left:40%;
    z-index: 89999;
    width: 300px;
    border-radius: 10px;
    background-color: $col-w;
    display: none;
     .modal-info-gif{
      margin: 100px auto 100px;
      width: 100px;
      height: 100px;
      display: none;
    }

    .modal-control{
      position: relative;
      bottom: 0;
      width: 300px;
      max-height: 600px;
      text-align: center;
      overflow: scroll;
        &>input[type="radio"]{
          display: none;
          top:320px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          z-index: 99999;
          margin: 5px 1px;

        }

      }
    .radio ~ .modal-control-number label{
         position: relative;
         margin: 5px;
         bottom: 0;
         font-size: 1.5em;
         line-height: 1em;
         color: $col-fd;
         z-index: 99990;
         cursor: pointer;
       }
   #control1:checked ~ .modal-control-number label:nth-of-type(1),
   #control2:checked ~ .modal-control-number label:nth-of-type(2),
   #control3:checked ~ .modal-control-number label:nth-of-type(3),
   #control4:checked ~ .modal-control-number label:nth-of-type(4),
   #control5:checked ~ .modal-control-number label:nth-of-type(5),
   #control6:checked ~ .modal-control-number label:nth-of-type(6),
   #control7:checked ~ .modal-control-number label:nth-of-type(7),
   #control8:checked ~ .modal-control-number label:nth-of-type(8),
   #control9:checked ~ .modal-control-number label:nth-of-type(9),
   #control10:checked ~ .modal-control-number label:nth-of-type(10){
         color: $col-or;
       }
    .modal-info-text {
      p{
      color: black;
      z-index: 0;
    }}

    #control1:checked ~ .modal-info > .modal-info-text .control1,
    #control2:checked ~ .modal-info > .modal-info-text .control2,
    #control3:checked ~ .modal-info > .modal-info-text .control3,
    #control4:checked ~ .modal-info > .modal-info-text .control4,
    #control5:checked ~ .modal-info > .modal-info-text .control5,
    #control6:checked ~ .modal-info > .modal-info-text .control6,
    #control7:checked ~ .modal-info > .modal-info-text .control7,
    #control8:checked ~ .modal-info > .modal-info-text .control8,
    #control9:checked ~ .modal-info > .modal-info-text .control9,
    #control10:checked ~ .modal-info > .modal-info-text .control10{
      display: block!important;
      z-index: 1;
    }
     button{
      position: absolute;
      cursor: pointer;
      border: none;
       &::before {
         content: '\24E7';
        font-size: 2em;
        line-height: 1.2em;
        font-family: $ff-o;
        cursor: pointer;
      }
    }
  }
.show-element{
  display: block!important;
}

  .modal-tittle{
    height: 40px;
    width: 300px;
    background-color: $col-or;
    border-radius: 10px 10px 0 0;
  }
  .modal-output{
    background-color: $col-or;
    color: black;
    right: 0;
    border-radius:0 10px 0 0;
  }
.notification{
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 90000;
  background-color: $col-fd;
  transition: right .5s ease;
 }
.success .notification-status::before{
  content: '\2713';
  border: none;
  font-size: 2em;
  vertical-align: bottom;
  color: green;
 }
.warning .notification-status::before{
  content: '\25B2';
  border: none;
  font-size: 2em;
  color:yellow;
}
.fail .notification-status::before{
  content: '\2717';
  vertical-align: bottom;
  border: none;
  font-size: 2em;
  color:red;
}
.show-element{
  right: 0;
}
.notification-indicator {
    @include flex(row, flex-start, center, nowrap);
   height: 70px;
    .notification-status{
     font-size: 1.06em;
     color: $col-w;
     margin-left: 20px;
   }
 }
.success,.warning,.fail {
  right: 0;
}


