* {
  box-sizing: border-box;
  margin: 0;
}
body{
  padding: 0;
  background-color: $col-fd;
}
a {
  font-family: $ff-o;
  color: $col-w;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875em;
  line-height: 1.2em;
  position: relative;
  &:hover {color: $col-or }
}

ul{
  list-style: none;
}
i{
  font-size: large;
  &::before{
    vertical-align: center;
    position: relative;
    top:5px;
  }
}