.orange{
  color: $col-or;
}
.vertical{
  text-align: center;
}
.verticalLine{
  border: 0.5px solid $col-or;
  beckground-color: $col-or;
  height: 150px;
  display: inline-block;
}

/** NAV BAR */
.navbar{
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 3;
  background-color: $col-fd;
}
.navbar-fixed{
  position: fixed;
}
.main-menu{
  position: relative;
  padding: 0;
  margin: 10px auto;
  height: 40%;
  width: 100%;
  @include mm-space;
  @include flex(row, space-between, center, nowrap);
}
.sub-menu{
  position: relative;
  top:-100px;
  opacity: 0;
  transition: all .8s ease;
}
.button.menu-open > .sub-menu{
  position: relative;
  top:0;
  opacity: 1;
}
.nav-logo{
  transform: scale(0.8);
}
.open-menu {
  position: absolute;
  left:-330px;
  width: 700px;
  background-color: $col-fd;
  @include flex(row, space-between, center, nowrap);
  transition: top 3s ease;
  li{
    position: relative;
    margin: 15px;
  }
}
.button{
  position: absolute;
  cursor: pointer;
  left: 48.5%;

}
.toggle-block {
  background-color: $col-fd;
  border: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1500;
  padding: 0;
  &::before,&::after{
    content: "";
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $col-or;
    transition: top .3s ease 0.3s, transform .3s ease 0s;
  }
}
.toggle-block::before{
  top:0;
}
.toggle-block::after {
  top: 100%;
}
.button.menu-open > .toggle-block::before{
   top: 50%;
   transform: rotate(45deg);
 }
.button.menu-open > .toggle-block::after{
  top: 50%;
  transform: rotate(-45deg);
}
.button.menu-open > .toggle-block::before,
.button.menu-open > .toggle-block::after{
  -webkit-transition-delay: 0s, 0.3s;
 transition-delay: 0s, 0.3s;
}

.toggle-block,
.toggle-block:hover,
.toggle-block:focus{
  outline: none;
}
.toggle{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $col-or;
  opacity: 1;
  transition: opacity 0s 0.3s;
}

.button.menu-open > .toggle-block .toggle{
  opacity: 0;
}

.second, .third{
  top: 35px;
}
.fourth{
  top: 45px;
}
.active a{
  color: $col-or;
}

/** title  */
.title, .contact{
  background-image: url('../../images/background-1.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: initial;
  background-repeat: no-repeat;
}
.title .background1, .contact .background2{
  background-color: rgba(32, 32, 32, 0.8);
  width: 100%;
  height: 100%;
}
.title_h .h{
  border: 1px solid $col-w;
}
/** services */
.services{
  background-color: $col-fl;
}
/** project */
.project1 img,
.project2 img,
.project3 img{
  height: 600px;
  width: 800px;
}
/** testimonials */
.testimonials{
  background-color: $col-fl;
}
.slider-wrapper{
  background-color: $col-fd;
  img {
    border-radius: 0;
    width:80px;
    height: 80px;
    margin-bottom: 40px;
  }
}
/** our-team */
.employee-box {
  img {
    height: 124px;
    width: 124px;
    border-radius: 50%;
  }
}

.caption-block h5{
  color: $col-or;
}
/** contact */
.contact {
  background-color: $col-b1;
  .form{
    background-color: $col-fd;
    label{
      font-family: $ff-o;
      font-size: 0.9em;
      color: $col-w;
    }
  }
}
.feedback-form-group input,
.feedback-form-group textarea{
  background-color: $col-fd;
  color: $col-w;
  width: 100%;
  border:none;
  outline: none;
  border-bottom: 1px solid $col-gr;
}
.mail{
  color: $col-gr;
}
/*
 * ===============================
 *  Position
 * ===============================
 */
.container{
  margin: 0 auto;
  @include mm-space;
}
/** title */
.title{
  position: relative;
  @include space;
  z-index: 10;
}
.first{
  padding-top: 150px;
}
.main-nav{
  display: flex;
  justify-content: center;
  padding: 0;
}
.nav{
  margin-top: 30px;
}
.b {
  margin-top: 80px;
  margin-bottom: 20px;
  @include flex(row, space-between, center, nowrap);
  img{
    transform: scale(0.8);
  }
}

.m{
  padding-right: 0.5em;
  padding-left: 0.5em;
  &:not(:first-of-type){
    border-left: 2px solid $col-or;
  }
}
.title_h {
  max-width: 750px;
  margin: 0 auto;
}
.h{
  padding: 1em;
}
.down{
  text-align: center;
  margin-top: 20px;
  height: 50px;
  .b3{
    position: relative;
    top:0;
    i{font-size: 1.5em;}
  }
}
/** services */
.services{
  @include space;
  h2{
    margin-top: 0.5em;
  }
}
.top{
  text-align: center;
  margin-top: 0.2em;
}
.menu-services {
  margin-top: 70px;
  margin-bottom: 100px;
  ul {
    padding: 0;
    @include flex(row, space-between, center, nowrap);
    li:not(:first-of-type) {
      margin-left: 10em;
    }
  }
}
.services-item {
  h3{
    margin-top: 1em;
    text-align: left;
  }
  p{
    margin-bottom: 2em;
  }
}
/** PROJECT */
.project1,
.project2,
.project3{
  @include space;
}
.container_project {
  width: 100%;
  @include mm-space;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.elem2 img{
  width: 750px;
  height: 550px;
}
.elem1{
  width: 100%;
  @include flex(column, flex-start, flex-start, nowrap);
  margin-right: 2em;
  .h_pr{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 5.5em;
  }
}
.elem3{
  width: 100%;
  position:relative;
  @include flex(column, flex-end, flex-start, nowrap);
  padding-left: 1.5em;
}
/** testimonials */
.testimonials {
  @include space;
  h4{
    text-align: center;
  }
  h2{
    margin-top: 0.5em;
  }
}
.logo{
  width: 100%;
  @include flex(row, space-between, center, nowrap);
  margin-top: 10%;
}
.slider{
  @include flex(row, center, center, nowrap);
  margin: 100px auto;
  position: relative;
  z-index: 1;
  width: 750px;
  height: 380px;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  position: relative;
  height: 380px;
  padding: 0;
  z-index: 2;
  transition: all .3s ease;
  .slider-block{
    height: 380px;
    width: 750px;
    transition: all 0s ease;
  }
}
.animation-next{
  transform: translate3d(-750px, 0, 0);
}
.animation-prev{
  transform: translate3d(750px, 0, 0);
}
.animation{
  transition: all 0s ease;
}
.slide{
  @include flex(column, center, center, nowrap);
  position: relative;
  width: 100%;
  height:380px;
  padding: 0 65px;
  margin-top: 10px;
  z-index: 4;
  img{
    position: relative;
    margin: 10px auto;
  }
  p, h5, h6{
    margin:0;
    padding:0;
  }
  p{
    font-family: $ff-m;
    font-size: 1em;
    line-height: 1.8em;
    text-align: center;
    margin-bottom: 45px;
  }
}
.slider-control-next, .slider-control-prev{
  background-color: $col-fd;
  border: none;
  outline: none;
  position: absolute;
  z-index: 2;
  cursor: pointer!important;
  i{
    color: $col-or;
    font-size: 4em;
  }
}
.slider-control-prev {
  left: 0;
}
.slider-control-next{
  right:0;
}
.slider-control{
  position: absolute;
  width: 100%;
  top:40%;
}
.text-name{
  margin-bottom: 50px;
  h5, h6{
    text-align: center;
    line-height: 40px;
  }
  h5{
    color: $col-or;
    position: relative;
  }
}
.text-name h5::after, .text-name h5::before{
  content: '';
  display: block;
  height: 1px;
  width: 165px;
  background-color: $col-b;
  position: absolute;
}
.text-name h5::before{
  left:-180px;
  bottom: 25px;
}
.text-name h5::after {
  left: 150px;
  bottom: 25px;
}
.slider-indicators{
  @include flex(row, center, center, nowrap);
  position: absolute;
  bottom: 5px;
  left: 42%;
  padding: 0;
  z-index: 10;
  .slider-indicator{
    text-indent: -999px;
    width: 30px;
    height: 5px;
    background-color: $col-fl;
    margin: 5px;
  }

}
.indicator-active{
  background-color: $col-or!important;
}

/** our team */
.our-teame {
  @include space;
  h4{
    text-align: center;
  }
  h2{
    margin-top: 0.5em;
  }
}
.person{
  margin: 100px 0;
  @include flex(row, flex-start, flex-start, wrap);

}

.employee {
  flex: 0 0 25%;
  height: 290px;
  padding-top: 65px;
  &:nth-child(n + 5) {
    border-top: 1px solid $col-fl;
  }
  &:not(:nth-child(4n + 1)) {
    border-left: 1px solid $col-fl;
  }

}
.employee-box{
  flex: 0 0 25%;
  position: relative;
  z-index: 2;
  vertical-align: center;
  border-left: 65px solid $col-fd;
  .text-block{
    position: absolute;
    top: 20px;
    padding: 0;
    z-index: 1;
    p{
      opacity: 0;
    }
  }

}
.caption-block {
  margin-top: 20px;
  h5, h6{
    line-height: 2.14em;
  }}

/** contact */
.contact{
  @include space;
  h4{
    text-align: center;
  }
  h2{
    margin-top: 0.5em;
  }
}

.contacts-menu{
  @include flex(row, space-between, flex-start, nowrap);
  padding: 0;
  max-width: 750px;
  li:not(:last-of-type){
    margin-right: 65px;
    max-width: 160px;
  }
  a{
    color: $col-gr;
  }
}
.footer-menu{
  max-width: 750px;
  margin: 100px auto;
}
.social{
  margin-top: 1em;
}
.social-btn i{
  margin: 5px;
  color: $col-gr;
  font-size: 20px;
}
.form{
  margin: 100px auto;
  max-width: 750px;
  padding: 50px;
}
.inputs{
  @include flex(row, space-between, stretch, wrap);
}
.feedback-form-group{
  flex: 0 0 45%;
  position: relative;
  padding-top: 50px;
  &:last-child{
    flex: 0 0 100%;
  }
}
.label-input{
  position: relative;
}
input, textarea{
  position: relative;
  font-size: 1.1em;
  line-height: 3.5em;
}
.label-box{
  position: absolute;
  bottom:0;
  font-size: 1.1em;
  height: 100%;
  width: 100%;
}
.label-text {
  line-height: 4.3em;
  position: absolute;
  top:0;
}
.feedback-form-group:last-of-type label{
  position: absolute;
  top: 0;
}
textarea{
  max-width: 700px;
}
.menu-logo {
  transform: scale(0.8);
}

/**
 * ===============================
 *  Animation
 * ===============================
 */

/** our team */
.employee img,
.employee .caption-block,
.employee .text-block p{
  position: relative;
  z-index: 1;
  transition: all 1s;
}

.employee:hover {
  img {
    transform: scale(0.4) translateY(-120px) translateX(-150px);
    transform-origin: left top;
    animation-timing-function: ease;
    z-index: 2;
    transition: all 1s;
  }
  .caption-block {
    transform: translateX(-10px) translateY(-130px) rotate(90deg);
    transform-origin: 0 0;
    text-align: left;
    transition-delay: 1s;
    animation-timing-function: ease;
    transition: all 1s;
  }
  .text-block p {
    text-align: left;
    opacity: 1;
    transform: translateY(-55px);
    transition-delay: 2s;
    animation-timing-function: linear;
    max-width: 225px;
    max-height: 320px;
    transition: all 1s;
  }
}
/** contact */
.label-input label {
  pointer-events: none;
  transition: all 0.2s;
}

input, textarea {
  transition: all 0.8s;
}
input:focus ~ label span{
  font-size: 0.75em;
  line-height: 1em;
  color: $col-or;
  top:0;
}
textarea:focus ~ label span{
  font-size: 0.75em;
  line-height: 1em;
  color: $col-or;
  top:0;
}

input:focus, textarea:focus{
  border-bottom: 1px solid $col-or;
}
.formActive .label-box .label-text{
  font-size: 0.75em;
  line-height: 1em;
  color: $col-or;
  top:0;
}
//down
@keyframes down {
  0%{
    top:0;
    opacity: 1;
  }
  50%{
    top:15px;
    opacity: 0.7;
  }
  100%{
    top:25px;
    opacity: 0;
  }
}
.down .b3{
  animation-name: down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/**
 * ===============================
 *  Scroll
 * ===============================
 */
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background-color: #060606;
  border-radius: 5px;
}
