h1, h2, h3{
  font-family: $ff-m;
  color: $col-w;
  text-align: center;
}
h4, h5, h6, p{
  font-family: $ff-o;
  color: $col-w;
}
h1{
  font-size: 3.438rem;
  line-height: 5.625rem;
}
h2{
  font-size: 2.5em;
  line-height: 1.625em;
}
h3{
  font-size: 1.875em;
  line-height: 2.16em;
}
h4{
  font-size: 0.875em;
  line-height: 2.85em;
  font-weight: 600;
  color: $col-or;
}
h5{
  font-size: 0.875em;
  line-height: 2.5em;
}
h6{
  font-size: 0.81em;
  line-height: 5em;
}
p {
  color: $col-gr;
  font-size: 0.875em;
  line-height: 1.78em;
}